<div class="industry_experience">
    <h2>Industry Experience</h2>
    {% if site.industry_experience  %}
      <div class="table-responsive">
        <table class="table table-sm table-borderless">
        {% assign industry_experience = site.industry_experience | reverse %}
        {% for item in industry_experience limit: site.industry_experience_limit %}
          <tr>
            <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th>
            <td>
              {% if item.inline %}
                {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
              {% else %}
                <a class="industry_experience-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </table>
      </div>
    {% else %}
      <p>No news so far...</p>
    {% endif %}
  </div>