<div class="work_experience">
    <h2>Work Experience</h2>
    {% if site.work_experience  %}
      <div class="table-responsive">
        <table class="table table-sm table-borderless">
        {% assign work_experience = site.work_experience | reverse %}
        {% for item in work_experience limit: site.work_experience_limit %}
          <tr>
            <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th>
            <td>
              {% if item.inline %}
                {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
              {% else %}
                <a class="work_experience-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </table>
      </div>
    {% else %}
      <p>No news so far...</p>
    {% endif %}
  </div>